{
  "presets": [
    "react",
    "env",
    "stage-0"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-object-assign",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "public": "public",
        "components": "components",
        "componentsShare": "components/share",
        "containers": "containers",
        "reducers": "reducers",
        "actions": "actions",
        "stores": "stores",
        "utils": "utils"
      }
    }]
  ]
}
