{
  "presets": [
    "react",
    "env",
    "stage-0"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-object-assign",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "style": "style",
        "public": "public",
        "components": "components",
        "componentsShare": "components/share",
        "componentsStyle": "components/style",
        "componentsText": "components/text",
        "utils": "utils"
      }
    }]
  ]
}
