{
  "presets": [
    "react",
    "env",
    "stage-0"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-object-assign",
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "cat-components/lib": "src",
        "style": "src/style",
        "color": "src/color",
        "utils": "src/utils"
      }
    }]
  ]
}
