{
  "exclude": [
    "coverage/**/*.js",
    "test.config.js",
    "static.config.js",
    "webpack.config.js",
    "docs/public/**/*.js",
    "lib/**/*.js"
  ],
  "extension": [
    ".js"
  ],
  "require": [
    "babel-core/register"
  ],
  "cache": true,
  "all": true,
  "reporter": [
    "html",
    "text"
  ]
}
